html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('/images/arena.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width:100%;
}
.score {
    text-align: center;
    display: block;
    height: 120px;
}

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-container {
    width: 100%;
    text-align: center;
}

