/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

body {
    font-family: From Cartoon Blocks;
    margin: 0;
    background-image: url('/images/arena.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width:100%;
}

header {
    margin-bottom: 10vh;
}

#rumble {
    font-family: "From Cartoon Blocks";
    text-align: center;
    font-size: 4.5em;
    margin-top: 14vh;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 3s steps(75, end);
}

#round {
    font-size: 4em;
}

.score {
    text-align: center;
    height: 10vh;
    margin-bottom: 20vh;
}

#result, #user_score,
#bot_score {
    font-size: 3vh;
    color: black;
} 

.img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin-top: 4vh
}

button {
    font-family: "From Cartoon Blocks";
    font-size: 55px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.img-left,
.img-right {
    border: 4px solid clear;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.remove {
    display: none;
}

/* @media screen and (max-width: 1080px) {
    .btn-container {
        margin-left: 13%;
    }
} */

@keyframes type{ 
    from { width: 0; } 
  }

@font-face {
    font-family: "From Cartoon Blocks";
    src: url('fonts/From\ Cartoon\ Blocks.ttf') format('truetype');
  }